<?xml version="1.0"?>
<!--
/**
 * Komaks_NewsEdit extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Komaks
 * @package        Komaks_NewsEdit
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Komaks_NewsEdit>
            <version>1.0.0</version>
        </Komaks_NewsEdit>
    </modules>
    <global>
        <resources>
            <komaks_newsedit_setup>
                <setup>
                    <module>Komaks_NewsEdit</module>
                    <class>Komaks_NewsEdit_Model_Resource_Setup</class>
                </setup>
            </komaks_newsedit_setup>
        </resources>
        <blocks>
            <komaks_newsedit>
                <class>Komaks_NewsEdit_Block</class>
            </komaks_newsedit>
        </blocks>
        <helpers>
            <komaks_newsedit>
                <class>Komaks_NewsEdit_Helper</class>
            </komaks_newsedit>
        </helpers>
        <models>
            <komaks_newsedit>
                <class>Komaks_NewsEdit_Model</class>
                <resourceModel>komaks_newsedit_resource</resourceModel>
            </komaks_newsedit>
            <komaks_newsedit_resource>
                <class>Komaks_NewsEdit_Model_Resource</class>
                <entities>
                    <author>
                        <table>komaks_newsedit_author</table>
                    </author>
                    <article>
                        <table>komaks_newsedit_article</table>
                    </article>
                    <section>
                        <table>komaks_newsedit_section</table>
                    </section>
                    <article_section>
                        <table>komaks_newsedit_article_section</table>
                    </article_section>
                    <section_article>
                        <table>komaks_newsedit_article_section</table>
                    </section_article>
                    <article_product>
                        <table>komaks_newsedit_article_product</table>
                    </article_product>
                    <section_product>
                        <table>komaks_newsedit_section_product</table>
                    </section_product>
                    <article_category>
                        <table>komaks_newsedit_article_category</table>
                    </article_category>
                    <section_category>
                        <table>komaks_newsedit_section_category</table>
                    </section_category>
                    <article_comment>
                        <table>komaks_newsedit_article_comment</table>
                    </article_comment>
                    <section_comment>
                        <table>komaks_newsedit_section_comment</table>
                    </section_comment>
                    <article_comment_store>
                        <table>komaks_newsedit_article_comment_store</table>
                    </article_comment_store>
                    <section_comment_store>
                        <table>komaks_newsedit_section_comment_store</table>
                    </section_comment_store>
                    <eav_attribute>
                        <table>komaks_newsedit_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </komaks_newsedit_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <komaks_newsedit>
                        <class>Komaks_NewsEdit_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </komaks_newsedit>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <komaks_newsedit>
                    <file>komaks_newsedit.xml</file>
                </komaks_newsedit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Komaks_NewsEdit>
                    <files>
                        <default>Komaks_NewsEdit.csv</default>
                    </files>
                </Komaks_NewsEdit>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <komaks_newsedit_article_product>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>addProductArticleBlock</method>
                    </komaks_newsedit_article_product>
                    <komaks_newsedit_section_product>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>addProductSectionBlock</method>
                    </komaks_newsedit_section_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <komaks_newsedit_article_category>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>addCategoryArticleBlock</method>
                    </komaks_newsedit_article_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <komaks_newsedit_section_category>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>addCategorySectionBlock</method>
                    </komaks_newsedit_section_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <komaks_newsedit_article_product>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>saveProductArticleData</method>
                    </komaks_newsedit_article_product>
                    <komaks_newsedit_section_product>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>saveProductSectionData</method>
                    </komaks_newsedit_section_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <komaks_newsedit_article_category>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>saveCategoryArticleData</method>
                    </komaks_newsedit_article_category>
                    <komaks_newsedit_section_category>
                        <type>singleton</type>
                        <class>komaks_newsedit/adminhtml_observer</class>
                        <method>saveCategorySectionData</method>
                    </komaks_newsedit_section_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <author>
                <class>komaks_newsedit/adminhtml_search_author</class>
                <acl>komaks_newsedit</acl>
            </author>
            <article>
                <class>komaks_newsedit/adminhtml_search_article</class>
                <acl>komaks_newsedit</acl>
            </article>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Komaks_NewsEdit before="Mage_Adminhtml">Komaks_NewsEdit_Adminhtml</Komaks_NewsEdit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <komaks_newsedit>
                        <class>komaks_newsedit/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </komaks_newsedit>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <komaks_newsedit>
                <use>standard</use>
                <args>
                    <module>Komaks_NewsEdit</module>
                    <frontName>news</frontName>
                </args>
            </komaks_newsedit>
        </routers>
        <layout>
            <updates>
                <komaks_newsedit>
                    <file>komaks_newsedit.xml</file>
                </komaks_newsedit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Komaks_NewsEdit>
                    <files>
                        <default>Komaks_NewsEdit.csv</default>
                    </files>
                </Komaks_NewsEdit>
            </modules>
        </translate>
    </frontend>
    <default>
        <komaks_newsedit>
            <author>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>author</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <meta_title>Authors</meta_title>
            </author>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>article</url_prefix>
                <url_suffix>html</url_suffix>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Articles</meta_title>
            </article>
            <section>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>Sections</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </section>
        </komaks_newsedit>
    </default>
</config>
